@import "../../../styles/colors.css";

.custom-navbar-link,
.custom-dropdown-item {
  text-decoration: none;
  color: var(--black);
}

.custom-navbar-link:hover,
.custom-dropdown-item:hover {
  color: var(--black);
  background-color: transparent;
}

.custom-navbar-link:focus,
.custom-dropdown-item:focus {
  color: var(--black);
  background-color: transparent;
}
