@import "../../../styles/colors.css";

.card {
  align-items: center;
  justify-content: end;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title,
.card-text {
  padding: 0rem 1rem;
}

.card-text {
  height: min-content;
}

.card-img-container {
  width: 25rem;
  height: 25rem;
}

.card-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 1rem;
}

.card-price-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.custom-h4,
.card-title {
  margin: 0;
  color: var(--mid-orange);
}

.custom-link {
  color: var(--black);
}

.card-price-stock {
  border-bottom: 1px solid var(--bs-card-border-color);
  padding-bottom: 1rem;
}

@media (max-width: 576px) {
  .custom-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .card-img-container {
    width: 20rem;
    height: 20rem;
  }
}
