@import "../../../styles/colors.css";

form {
  padding-right: 1rem;
}

.custom-btn {
  background-color: var(--mid-orange);
  color: var(--white);
  border-color: var(--mid-orange);
}

.custom-btn:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
  color: var(--white);
}
