@import "../../../styles/colors.css";

form {
  padding-right: 1rem;
}

.custom-btn {
  background-color: var(--mid-orange);
  color: var(--white);
  border-color: var(--mid-orange);
}

.custom-btn:hover {
  background-color: var(--dark-orange);
  border-color: var(--dark-orange);
  color: var(--white);
}

.dropdown-menu {
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
